@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
    --color-primary: #FFE599;
    --color-secondary: #134F5C;
    --color-button: #F1C232;

    --border: 1px solid red;
}

button{
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary);
}

input {
    border: 3px solid #333;
    margin-bottom: 8px;
    margin-left: 10px;
    padding-left: 5px;
    width: 60%;
}

button.white {
    border: 3px solid #333;
    background-color: #fff;
    color: #333;
    padding: 5px;
    width: 150px;
    font-size: 1rem;
    font-weight: bold;
}

label{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;

}

.row {
    margin-left: 0;
    width: 100%;
}

.login-container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.login {
    display: block;
    height: 500px;
    width: 400px;
    border: 3px solid #333;
    background-color: #CCCCCC;
    padding: 1.2rem 1.5rem;
}

.login-title {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.logo {
    width: 100%;
    text-align: center;
    height: 60px;
    margin: 1rem 0;
}

.logo i {
    font-size: 60px;
    color: #333;
}

.group-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.group-input label {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.group-input input {
    border: 3px solid #333;
    width: 80%;
    height: 40px;
    padding: 0 10px;
    font-weight: 500;

}

.group-input button {
    background-color: var(--color-secondary);
    color: #fff;
    height: 40px;
    width: 60%;
    font-size: 1.2rem;
    font-weight: bold;
}

header {
    border: 3px solid #333;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header-comunicarse {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-comunicarse i {
    font-size: 40px;
    color: #333;
    margin-right: 10px;
}

.header-comunicarse .comunicarse-numero {
    font-size: 1rem;
    color: #333;
    margin-left: 10px;

}

.header-comunicarse .comunicarse-numero p {
    text-decoration: none;
    color: var(--color-secondary);
    text-align: center;
}

.header-escribenos {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-escribenos i {
    font-size: 40px;
    color: #333;
    margin-right: 10px;
}

.header-escribenos .escribenos-correo {
    font-size: 1rem;
    color: #333;
    margin-left: 10px;

}

.header-escribenos .escribenos-correo p {
    text-decoration: none;
    color: var(--color-secondary);
    text-align: center;
}


footer {
    border: 3px solid #333;
    background-color: var(--color-secondary);
}

.footer-info__basica {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}

footer h4 {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    color: var(--color-primary);
    margin-bottom: 10px;

}

.footer-info__basica .basica-adreess {
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info__basica .basica-adreess i {
    font-size: 1.8rem;
    margin-right: 10px;
    color: #333;
}

.footer-info__basica .basica-adreess p {
    font-size: 1rem;
}

.footer-info__basica .basica-sociales {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.basica-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.basica-sociales li a {
    color: #333;
    text-decoration: none;
}

.basica-sociales li a i {
    font-size: 1.8rem;
    margin-right: 10px;
    color: #333;
}


.footer-info__adicional {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.footer-privacidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.footer-privacidad ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-privacidad ul li {
    margin: 10px 0;
}

.footer-privacidad ul li a {
    font-size: 1rem;
    color: #fff;
}

.footer-privacidad ul li a i {
    margin-right: 10px;
}

.footer-registrate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.registrate-form form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.registrate-form form input {
    border: 3px solid #333;
    width: 80%;
    height: 30px;
    padding: 0 10px;
    font-weight: 500;
}

.registrate-form form button {
    display: inline-block;
    height: 30px;
    margin-right: 20px;
    width: 150px;
    border: 3px solid #333;
    text-align: center;

    background-color: #fff;
}

nav {
    width: 100%;
    height: 80px;
    background-color: var(--color-secondary);
    border: 3px solid #333;
}

.navegacion .lista {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    list-style: none;
}

.lista li {
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    border: 3px solid #333;
    text-align: center;
    padding: 5px 10px;
}

.lista li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;

}

.lista li.primary {
    background-color: var(--color-button);
}

.lista li.white {
    background-color: #fff;
}

.lista li.blue {
    background-color: cornflowerblue;
}

button.seccion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 3px solid #333;
    background-color: #fff;
    font-weight: bold;
}

.seccion-btn p{
    margin: 0;
}

.select-am{
    width: 190px;
}

.table-center{
    display: flex;
    justify-content: center;
    
}

.centrar-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-pr{
    width: 190px;
    margin-left: -1px;
}

.btn-borrar{
    padding: 0 4px;
}

.a_notas{
    display: flex;
    justify-content: center;
}

.a_combo{
    width: 300px;
    height: 30px;
}

.input-curso{
    width: 300px;
}

.title-n{
    font-size:30px;
}

.seguido{
    display: flex;
}

.notas{
    width: 205px;
}

.lprof{
    width: 280px;
    height: 200px;
    border: solid 1px #333;
}

.listadoc{
    display: block;
}

.textdoc{
    width: 280px;
    background-color: #134F5C;
    border: 1px solid #333;
    color: #fff;
    font-weight: 500;
}

.btn-bienv{
    padding: 16px 50px;
    background-color: #085394;
    color: white;
    font-size: 28px;
}

.title_bienv{
    font-size: 60px;
    color: #073763;
}

.regisal{
    display: flex;
    margin: 5px 0;
}

.rb{
    margin: 6px 0 0 -75px;
}

.masrb{
    margin: 0 0 0 -75px;
}

.femrb{
    margin: 0 0 0 30px;
}

.contenedor{
    background-color: #134F5C;
    width: 265px;
    height: auto;
    margin: 0 0 0 12px;
    border: 1px solid #333;
    
}

.titcont{
    color: white;
    font-weight: 500;
}

.titreg{
    color: #073763;
    font-size: 50px;
}

.btn-yelloww{
    width: 100%;
    height: 35px;
    background-color: #FFCB00;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
}

.selectcregis{
    margin: 0 0 0 10px;
    width: 363px;
}

a.seccion-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 3px solid #333;
    background-color: #fff;
    font-weight: bold;
}